.form {
    display: flex;
    flex-direction: column;  
    > * {    //this is to target all Form direct children (description, amount date, etc.)
        margin-bottom: $m-size; 
    }
}

.form__error {
    margin: 0 0 $m-size 0;
    font-style: italic;
}